{:name "algodemo"
 :quanta/template [algodemo.sma-crossover.template/sma-crypto
                   algodemo.sentiment-spread.template/sentiment-spread
                   algodemo.asset-compare.template/asset-compare
                   algodemo.reversal-and-breakout.template/reversal-and-breakout
                   algodemo.nil.template/watch-crypto
                   algodemo.sma-crossover.template/eodhd-eod
                   algodemo.multi-ma.template/multi-ma]}
