{:name "gann"
 ; runtime
 :clj-services {:name "gann"
                :permission #{:dev}
                :symbols [; gann
                          ta.gann.db/load-gann
                          ta.gann.db/save-gann
                          ta.gann.svg-plot/gann-svg-web
                          ta.gann.svg-plot/get-boxes]}
 
 :cljs-routes {"gann" ta.gann.page.gann/gann-page}
 :sci-cljs-ns [ta.gann.page.gann]

 }

