.lsp
.calva
.cpcache
.webly
.clj-kondo
/.nrepl-port
.nrepl-port
node_modules
.shadow-cljs
karma.conf.js
package-lock.json
package.json
shadow-cljs.edn
app/demo/certs
/.data/
.data
/classes/
*~
\#*\#
.\#*
.~*
binaries
classes
/target/webly
target/webly