.lsp
.calva
.cpcache
.webly
.clj-kondo
/target
/.nrepl-port
.nrepl-port
node_modules
.shadow-cljs
target
karma.conf.js
package-lock.json
package.json
shadow-cljs.edn
goldly_bindings_generated.cljs
app/demo/certs
/output/
output
/classes/
*~
\#*\#
.\#*
.~*
binaries
classes