{:paths ["src"
         ;"classes"
         ]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        aysylu/loom {:mvn/version "1.0.2"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
      ;  com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.0"}
        com.taoensso/timbre {:mvn/version "6.2.2"} ; clj/cljs logging
        org.pinkgorilla/reval {:mvn/version "0.5.141"}
        ; ta
        org.pinkgorilla/ta {:mvn/version "0.3.692"}
        ;org.pinkgorilla/ta {:local/root "../trateg" :deps/manifest :deps}
        babashka/process {:mvn/version "0.5.21"}
        ; apps
        ta/astro {:local/root "./lib/astro" :deps/manifest :deps}
        ta/gann {:local/root "./lib/gann" :deps/manifest :deps}
      ;  joseph/joseph {:local/root "./lib/joseph" :deps/manifest :deps}
        juan/juan {:local/root "./lib/juan" :deps/manifest :deps}
        ;com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.0"}
        ;;
        }
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
             :main-opts ["-m" "antq.core"]}
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"]}

  ; example: clojure -X:run :task ':bybit-import' :symbol-list "currency-spot"
  ; see README.md for available tasks

  :run {:extra-deps {org.pinkgorilla/modular {:mvn/version "0.0.40"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
        :extra-paths ["cli"]
        :exec-fn modular.system/start!
        :exec-args {:config "ta-config.edn"
                    :services "services-task.edn"
                    :run demo.env.task/run}
        :jvm-opts ["-Xmx4G"] ;; or more
        }

  :docs ; RUN SERVICES (keep running)
  {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.658"} ; 0.4.657
                org.pinkgorilla/modular {:mvn/version "0.0.40"}
                com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
   :extra-paths ["target/webly" ; to include the sci-bindings info
                 "node_modules"
                 "resources"]
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :services "services-docs.edn" ; see demo/src/services-docs.edn
               :config  ["webly/config.edn" "goldly/config.edn"
                         ;"goldly/docs-config.edn"
                         "ta-config.edn"]}}

  :quote-harvester
  {:exec-fn juan.fix/start-harvesting}

  :duckdb-performance-test
  {:exec-fn notebook.playground.bardb.performance-test/run-performance-test}

  :extension-test
  {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.657"} ;0.4.655
                org.pinkgorilla/modular {:mvn/version "0.0.40"}
                com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}
                io.github.pink-gorilla/extension {:git/url "https://github.com/pink-gorilla/extension.git"
                                                  :sha "8363595f71473cefe7596164db32c8dfb24ae262"}}
   :exec-fn demo.extension/test-discovery}


;  
  }}

