; saved on 2021-11-13 22:46:38
{:type "LineToolFibCircles",
 :id "dhV3wo",
 :state {:intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :level6 [1 "rgba( 128, 128, 128, 1)" true 0 1],
         :coeffsAsPercents false,
         :level5 [0.786 "rgba( 40, 149, 204, 1)" true 0 1],
         :fillBackground true,
         :level3 [0.5 "rgba( 40, 204, 40, 1)" true 0 1],
         :_isActualInterval true,
         :level10 [4.236 "rgba( 204, 40, 149, 1)" true 0 1],
         :symbol "BB:BTCUSD",
         :level2 [0.382 "rgba( 149, 204, 40, 1)" true 0 1],
         :snapTo45Degrees true,
         :clonable true,
         :level11 [4.618 "rgba( 204, 40, 149, 1)" true 0 1],
         :level7 [1.618 "rgba( 40, 40, 204, 1)" true 0 1],
         :font "Verdana",
         :level4 [0.618 "rgba( 40, 204, 149, 1)" true 0 1],
         :level8 [2.618 "rgba( 204, 40, 40, 1)" true 0 1],
         :lastUpdateTime 0,
         :interval "D",
         :showCoeffs true,
         :trendline {:visible true,
                     :color "rgba( 128, 128, 128, 1)",
                     :linewidth 1,
                     :linestyle 2},
         :visible true,
         :level9 [3.618 "rgba( 149, 40, 204, 1)" true 0 1],
         :frozen false,
         :level1 [0.236 "rgba( 204, 40, 40, 1)" true 0 1],
         :transparency 80},
 :points [{:time_t 1596790800,
           :offset 0,
           :price 25753.338681720226}
          {:time_t 1603962000,
           :offset 0,
           :price 45534.14539023705}],
 :zorder -2,
 :linkKey "Oe6FlwQfuW9A",
 :ownerSource "dpLgzO"}
