{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  org.clj-commons/hickory {:mvn/version "0.7.3"}
  io.github.clojure-quant/fix-engine {:git/sha "d25efeefd2db73dee622e826ae86248f74f38273"}
  ta/calendar {:local/root "../../lib/calendar" :deps/manifest :deps}
  }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  
   :quote-harvester
  {:exec-fn juan.fix/start-harvesting}

  }
;
}
