[{:list "bonds"}
 {:list "commodity-industry"}
 {:list "commodity-sector"}
 {:list "currency-etf"}
 {:list "currency-spot"}
 {:list "equity-region-country"}
 {:list "equity-region"}
 {:list "equity-sector-industry"}
 {:list "equity-sector"}
 {:list "equity-style"}
 {:list "fidelity-select"}
 {:list "reit"}
 {:list "test"}]
