[{:name "IShares Lehman 1-3 Year Treasury" :symbol "SHY" :category :etf}
 {:name "IShares Lehman 7-10 Year Treasury" :symbol "IEF" :category :etf}
 {:name "IShares Lehman 20+ Year Treasury" :symbol "TLT" :category :etf}
 
 {:name "Ishares Lehman Aggregate" :symbol "AGG" :category :etf}
 {:name "IShares Lehman TIPS" :symbol "TIP" :category :etf}
 
; {:name "Municipials" :symbol "MUB"}
; {:name "Mortgage" :symbol "MBB"}
 
 ; Corporate
 {:name "IShares GS InvesTop Corporate" :symbol "LQD" :category :etf}
 {:name "IShares iBoxx High Yield Corporate Bond" :symbol "HYG" :category :etf}

; International
 ; {:name "Emerging Market Bonds" :symbol "ESD" :category :etf} ; delisted
 

 ;{:name "iShares Lehman Short Term Treasury Bond" :symbol "SHV"}
 ;{:name "iShares Lehman 3-7 year Treasury Bond" :symbol "IEI"}
 ;{:name "iShares Lehman 10-20 year Treasury Bond" :symbol "TLH"}
 ;{:name "iShares Lehman 1-3 Year Credit Bond" :symbol "CSJ"}
 ;{:name "iShares Lehman Intermediate Credit Bond" :symbol "CIU"}
 ;{:name "iShares Lehman Credit Bond" :symbol "CFT"}
 ;{:name "iShares Lehman Intermediate Gov’t/Credit Bond" :symbol "GVI"}
 ;{:name "iShares Government/Credit Bond" :symbol "GBF"}
 ;{:name "iShares Lehman MBS Fixed Rate Bond" :symbol "MBB"}
 ;{:name "Vanguard Short Term Bond" :symbol "BSV"}
 ;{:name "Vanguard Intermediate Term Bond" :symbol "BIV"}
 ;{:name "Vanguard Long Term Bond" :symbol "BLV"}
 ;{:name "Vanguard Total Bond Market" :symbol "BND"}
 ;{:name "SPDR Lehman 1-3 Month T-Bill" :symbol "BIL"}
 ;{:name "SPDR Lehman Intermediate Term Treasury" :symbol "ITE"}
 ;{:name "SPDR Lehman Long Term Treasury" :symbol "TLO"}
 ;{:name "SPDR Barclays Capital Tips" :symbol "IPE"}
 ;{:name "SPDR Lehman Aggregate Bond" :symbol "LAG"}
 ;{:name "SPDR Lehman Municipal Bond" :symbol "TFI"}
 ;{:name "Ameristock 1 year Treasury" :symbol "GKA"}
 ;{:name "Ameristock 2 year Treasury" :symbol "GKB"}
 ;{:name "Ameristock 5 year Treasury" :symbol "GKC"}
 ;{:name "Ameristock 10 year Treasury" :symbol "GKD"}
 ;{:name "Ameristock 20 year Treasury" :symbol "GKE"}
 ]
