[;; https://seekingalpha.com/etfs-and-funds/etf-tables/commodities
 

 ; Energy (Oil / Gas)
 {:sector :energy :industry :oil :name "Crude Oil" :symbol "USO" :category :etf}
 {:sector :energy :industry :gas :name "United States Natural Gas" :symbol "UNG" :category :etf}
 ;{:name "Claymore Crude Oil (Up)" :symbol "UCR"}
 ;{:name "Claymore Crude Oil (Down)" :symbol "DCR"}
 ;{:name "PowerShares DB Oil Fund" :symbol "DBO"}
 ; Brent Oil BNO
 ; Gasoline UGA
 
 ; Precious Metals Gold / Silver
 {:sector :precious :industry :gold :name "World Gold Council Gold" :symbol "GLD" :category :etf}
; {:name "iShares COMEX Gold (U.S.)" :symbol "IAU"}
; {:name "Market Vectors Gold Miners" :symbol "GDX"};
; {:name "PowerShares DB Gold" :symbol "DGL"}
 {:sector :precious :industry :silver :name "iShares Silver" :symbol "SLV" :category :etf}
; {:name "PowerShares DB Silver" :symbol "DBS"}
 {:sector :precious :industry :palladium :name "Palladium" :symbol "PALL" :category :etf}
 {:sector :precious :industry :platinum  :name "Platinum" :symbol "PPLT" :category :etf}

; Industrial Commodities
 {:sector :industrial :industry :nickel :name "Nickel" :symbol "BJJN" :category :etf}
 {:sector :industrial :industry :aluminium :name "Aluminium" :symbol "JJUB" :category :etf}
 {:sector :industrial :industry :copper :name "Copper" :symbol "JJCB" :category :etf}
 {:sector :industrial :industry :rareearth :name "Rare Earth" :symbol "REMX" :category :etf}
 {:sector :industrial :industry :steel :name "Steel" :symbol "SLX" :category :etf}
 {:sector :industrial :industry :coal :name "Coal" :symbol "KOL" :category :etf}
 
; Agricultural Commodities
 {:sector :agriculture :industry :coffee :name "Coffee" :symbol "BJO" :category :etf}
 {:sector :agriculture :industry :wheat :name "Wheat" :symbol "WEAT" :category :etf}
 {:sector :agriculture :industry :cocoa :name "Cocoa" :symbol "NIB" :category :etf}
 {:sector :agriculture :industry :grains :name "Grains" :symbol "GRU" :category :etf}
 {:sector :agriculture :industry :biofuels :name "Biofuels" :symbol "FUE" :category :etf}
 {:sector :agriculture :industry :soybeans :name "Soybeans" :symbol "SOYB" :category :etf}
 {:sector :agriculture :industry :corn :name "Corn" :symbol "CORN" :category :etf}
 {:sector :agriculture :industry :sugar :name "CSugar" :symbol "CANE" :category :etf}]