[;; https://seekingalpha.com/etfs-and-funds/etf-tables/commodities

; Commodity Basket
 {:sector :all         :industry :all :name "IShares GSCI Commodity Index" :symbol "GSG" :category :etf}
; {:name "Deutschebank Commodity" :symbol "DBC"}
 {:sector :energy      :industry :all :name "PowerShares DB Energy" :symbol "DBE" :category :etf}
 {:sector :precious    :industry :all :name "PowerShares DB Precious Metals" :symbol "DBP" :category :etf}
 {:sector :industrial  :industry :all :name "PowerShares Base Metals"  :symbol "DBB" :category :etf}
 {:sector :agriculture :industry :all :name "PowerShares Agriculture" :symbol "DBA" :category :etf}]
