[; Broad Based – International

 {:name "Vanguard FTSE All-World Ex U.S." :symbol "VEU" :category :etf}

;{:name "BLDRS Development Markets 100 ADR" :symbol "ADRD"}
  {:name "IShares MSCI Emerging Markets" :symbol "EEM" :category :etf}
;{:name "BLDRS Emerging Markets 50 ADR" :symbol "ADRE"}

 ;{:name "Claymore/Robeco Developed World Equity " :symbol "EEW"}
 ;{:name "Claymore/Robeco Developed International Equity" :symbol "EEN"}
; {:name "Dynamic International Opportunities" :symbol " PFA"}
; {:name "Vanguard Emerging Markets VIPERS" :symbol "VWO"}

 ;Speciality

; {:name "Claymore BRIC" :symbol "EEB"}


;Europe - Country
 {:name "IShares S&P Europe 350" :symbol "IEV" :category :etf}
; {:name "resco Dow Jones Euro STOXX 50" :symbol "FEZ"}
; {:name "Fresco Dow Jones STOXX 50" :symbol "FEU"}
; {:region :europe :name "EMU" :symbol "EZU"}
; {:name "IShares MSCI EAFE" :symbol "EFA"}
; {:name "BLDRS Europe 100 ADR" :symbol "ADRU"}
; {:name "Europe 2001 HOLDRS" :symbol "EKH"}
; {:name "IShares MSCI EMU" :symbol "EZU"}
; {:name "Vanguard European VIPERS" :symbol "VGK"}

 {:name "SPDR Emerging Europe" :symbol "GUR" :category :etf}
; {:name "SPDR Emerging Middle East and Africa" :symbol "GAF"}
; {:name "Dynamic Europe " :symbol "PEH"}


; Americas -Country
 ;{:name "SPDR Emerging Latin America" :symbol "GML" :category :etf} ; delisted ?
 {:name "IShares S&P Latin America 40" :symbol "ILF" :category :etf}

; Asia - Country
 ;{:name "SPDR S&P Emerging Asia Pacific" :symbol "GMF"}
 {:name "IShares MSCI Pacific ex-Japan" :symbol "EPP" :category :etf}
 ;{:name "BLDRS Asia 50 ADR" :symbol "ADRA"}
 ;{:region :asia :name "Vanguard Pacific VIPERS" :symbol "EVPL"}
 ;{:region :asia :name "First Trust Chindia" :symbol "EFCI"}
 ;{:region :asia :name "Dynamic Asia/Pacific" :symbol "EPUA"}
 ;{:name "First Trust ChIndia " :symbol "FNI"}
 ]



