[
;; https://www.ishares.com/us/products/etf-investments

;Europe - Country
 {:region :europe :name "IShares MSCI Austria" :symbol "EWO" :category :etf}
 {:region :europe :name "IShares MSCI Belgium" :symbol "EWK" :category :etf}
 {:region :europe :name "IShares MSCI France" :symbol "EWQ" :category :etf}
 {:region :europe :name "IShares MSCI Germany" :symbol "EWG" :category :etf}
 {:region :europe :name "IShares MSCI Italy" :symbol "EWI" :category :etf}
 {:region :europe :name "IShares MSCI Netherlands" :symbol "EWN" :category :etf}
 {:region :europe :name "IShares MSCI Spain" :symbol "EWP" :category :etf}
 {:region :europe :name "IShares MSCI Sweden" :symbol "EWD" :category :etf}
 {:region :europe :name "IShares MSCI Switzerland" :symbol "EWL" :category :etf}
 {:region :europe :name "IShares MSCI United Kingdom" :symbol "EWU" :category :etf}
 {:region :europe :name "Van Eck Russia" :symbol "RSX" :category :etf}
 {:region :europe :name "IShares MSCI South Africa" :symbol "EZA" :category :etf}

; Americas -Country
 {:region :americas :name "IShares MSCI Brazil" :symbol "EWZ" :category :etf}
 {:region :americas :name "IShares MSCI Canada" :symbol "EWC" :category :etf}
 {:region :americas :name "IShares MSCI Mexico" :symbol "EWW" :category :etf}

; Asia - Country
 {:region :asia :name "IShares MSCI Japan" :symbol "EWJ" :category :etf}
 ;  {:region :asia :name "Streettracks Russell/Nomura Japan Prime" :symbol "EJPP"}
 ;{:region :asia :name "Streettracks Russell/Nomura Japan Small Cap" :symbol "EJSC"}

  {:region :asia :name "IShares MSCI China" :symbol "MCHI" :category :etf}
  {:region :asia :name "IShares China LargeCap" :symbol "FXI" :category :etf}
 ;{:region :asia :name "IShares FTSE/Xinhuu China 25" :symbol "EFXI"}
 ;{:region :asia :name "SPDR S&P China" :symbol "GXC" :category :etf}
;{:region :asia :name "PowerShares Golden Dragon USX China Portfolio" :symbol "EPGJ" :category :etf}
  {:region :asia :name "IShares MSCI Taiwan" :symbol "EWT" :category :etf}
  {:region :asia :name "IShares MSCI Hong Kong" :symbol "EWH" :category :etf}

 {:region :asia :name "IShares MSCI India" :symbol "INDA" :category :etf}
 {:region :asia :name "IShares MSCI India 50" :symbol "INDY" :category :etf}

 {:region :asia :name "IShares MSCI Australia" :symbol "EWA" :category :etf}
 {:region :asia :name "IShares MSCI Malaysia (Free)" :symbol "EWM" :category :etf}
 {:region :asia :name "IShares MSCI Singapore" :symbol "EWS" :category :etf}
 {:region :asia :name "IShares MSCI South Korea" :symbol "EWY" :category :etf}
 {:region :asia :name "IShares MSCI Thailand" :symbol "THD" :category :etf}
 {:region :asia :name "IShares MSCI Indonesia" :symbol "EIDO" :category :etf}


 ]



