
[{:sector :materials :name "Basic Materials" :symbol "IYM" :category :etf :also ["VAW" "XLB"]}
 {:sector :materials :name "Gold Mining" :symbol "GDX" :category :etf}
 {:sector :materials :name "Metals and Mining" :symbol "XME" :category :etf}
 {:sector :materials :name "Nat. Resources Natural Resources" :symbol "IGE" :category :etf}

 {:sector :consumer-goods :name "Home Construction" :symbol "ITB" :also ["XHB"] :category :etf}
 {:sector :consumer-goods :name "Building and Construction" :symbol "PKB" :category :etf}

 {:sector :consumer-goods :name "Food and Beverage" :symbol "PBJ" :category :etf}

; Consumer Discretionary
 {:sector :consumer-services :name "Consumer Discretionary" :symbol "VCR" :also ["XLY"] :category :etf}
;Consumer Discretionary Select Sector SPDR                XLY    0.26     yes         1369
;IShares DJ US Consumer Cyclical Sector                     IYC     0.48     yes             98
;Retail HOLDRS                                                           RTH     0*        yes         3388
;Consumer Discretionary VIPERS                                 VCR    0.28     yes             13
;Dynamic Leisure and Entertainment                               PEJ      0.60     yes             28
;Dynamic Retail                                                             PMR    0.60     yes             47
;Dynamic Hardware and Consumer Electronics              PHW   0.60     yes             10
;SPDR Retail                                                                 XRT     0.35     yes           499
;Dynamic Consumer Discretionary                                 PEZ     0.60     yes             10  
;Market Vector Environmental Services                         EVX    0.55     yes               5
;Rydex Equal Weight Consumer Discretionary                RCD    0.50     no              13




 {:sector :consumer-services :name "Leisure and Entertainment" :symbol "PEJ" :category :etf}
 {:sector :consumer-services :name "Media" :symbol "PBS" :category :etf}


 {:sector :energy :name "Oil Services" :symbol "IEZ" :also ["PXJ" "OIH" "XES"] :category :etf}
 {:sector :energy :name "Oil & Gas Exploration and Production" :symbol "IEO" :also ["PXE" "XOP"] :category :etf}
 {:sector :energy :name "WilderHill Clean Energy" :symbol "PBW" :category :etf}

 {:sector :financial :name "Regional Banks" :symbol "IAT" :also ["RKH" "KRE"] :category :etf}
 {:sector :financial :name "Insurance" :symbol "IAK" :also ["PIC" "KIE"] :category :etf}


 {:sector :financial :name "Broker-Dealers" :symbol "IAI" :also ["KCE"] :category :etf}



 {:sector :healthcare :name "Biotech" :symbol "IBB" :also ["PBE" "BBH" "XBI" "FBT"] :category :etf}
 {:sector :healthcare :name "Pharmaceuticals" :symbol "IHE" :also ["PJP" "PPH" "XPH"] :category :etf}
 {:sector :healthcare :name "Medical Devices" :symbol "IHI" :category :etf}
 {:sector :healthcare :name "Health Care Providers" :symbol "IHF" :category :etf}


 {:sector :industrial :name "Aerospace & Defense" :symbol "ITA" :also ["PPA"] :category :etf}

; Industrials
;Industrial Select Sector SPDR        XLI      0.26     yes         2498
;IShares DJ Transportation Average      IYT      0.48     yes           735
;IShares DJ US Industrial Sector          IYJ       0.48     yes             32
;Vanguard Industrials VIPERs       VIS      0.28     yes             15
;Dynamic Building and Construction        PKB    0.60     yes             20
;iShares Home Construction            ITB      0.48     no            136
;Homebuilder SPDRs                    XHB    0.35     yes         2474
;Dynamic Aerospace and Defense           PPA     0.60     yes           129
;iShares Aerospace and Defence         IHE      0.48     no              21
;FTSE RAFI Industrials             PRFN  0.60     no                3
;Dynamic Industrials                   PRN    0.60     yes             16
;Market Vector Steel                 SLX     0.55     yes             26
;PowerShares Aerospace and Defense     PPA     0.60     yes            129
;Rydex Equal Weight Industrials           RGI      0.50     no                2
;First Trust Industrials/Producer Durables AlphaDEXFXR     0.70     no           N/A



 ;{:sector :technology :name "Computer Hardware" :symbol "PHW" :also ["IAH"] :category :etf} ; delisted
 {:sector :technology :name "Internet - diversified" :symbol "HHH" :also ["IIH" "BHH" "FDN"] :category :etf}
 {:sector :technology :name "Software" :symbol "IGV" :also ["PSJ" "SWH"] :category :etf}
 ;{:sector :technology :name "Semiconductor" :symbol "IGW" :also ["PSI" "SMH" "XSD"] :category :etf} ; delisted
 {:sector :technology :name "Networking" :symbol "IGN" :also ["PXQ" "BDH"] :category :etf}
 ;{:sector :technology :name "Nanotech Lux Nanotech" :symbol "PXN" :category :etf} ; delisted


 ;{:sector :telecom :name "Wireless (including telcos)" :symbol "PXN" :also ["PTE" "WMH"] :category :etf} ; delisted

 ;
 ]



