[{:symbol "FPHAX" :name "FIDELITY SELECT PHARMA PORT" :category :mutualfund}
 {:symbol "FSPHX" :name "FIDELITY SELECT HEALTH CARE" :category :mutualfund}
 {:symbol "FSENX" :name "FIDELITY SELECT ENERGY PRTF" :category :mutualfund}
 {:symbol "FDLSX" :name "FIDELITY SELECT LEISURE PRT" :category :mutualfund}
 {:symbol "FSPCX" :name "FIDELITY SELECT INSURANCE PT" :category :mutualfund}
 {:symbol "FDFAX" :name "FIDELITY SELECT CONSUM STAPL" :category :mutualfund}
 {:symbol "FIDSX" :name "FIDELITY SELECT FINANCIAL SV" :category :mutualfund}
 {:symbol "FBSOX" :name "FIDELITY SELECT IT SERVICES" :category :mutualfund}
 {:symbol "FSPTX" :name "FIDELITY SELECT TECHNOLOGY" :category :mutualfund}
 {:symbol "FSUTX" :name "FIDELITY SELECT UTILITIES PT" :category :mutualfund}
 {:symbol "FSAGX" :name "FIDELITY SELECT GOLD PORTF" :category :mutualfund}
 {:symbol "FSCHX" :name "FIDELITY SELECT CHEMICALS PT" :category :mutualfund}
 {:symbol "FCYIX" :name "FIDELITY SELECT INDUSTRIALS" :category :mutualfund}
 {:symbol "FDCPX" :name "FIDELITY SELECT COMPUTERS PT" :category :mutualfund}
 {:symbol "FBIOX" :name "FIDELITY SELECT BIOTECHNOLGY" :category :mutualfund}
 {:symbol "FSRBX" :name "FIDELITY SELECT BANKING PRTF" :category :mutualfund}
 {:symbol "FSRPX" :name "FIDELITY SELECT RETAILING PT" :category :mutualfund}
 {:symbol "FSNGX" :name "FIDELITY SELECT NATURAL GAS" :category :mutualfund}
 {:symbol "FSDCX" :name "FIDELITY SELECT COMM EQUIP" :category :mutualfund}
 {:symbol "FSAIX" :name "FIDELITY SELECT AIR TRANS" :category :mutualfund}
 {:symbol "FSDPX" :name "FIDELITY SELECT MATERIALS PT" :category :mutualfund}
 {:symbol "FWRLX" :name "FIDELITY SELECT WIRELESS PRT" :category :mutualfund}
 {:symbol "FSAVX" :name "FIDELITY SELECT AUTOMOTIVE" :category :mutualfund}
 {:symbol "FSHOX" :name "FIDELITY SELECT CONSTR & HSG" :category :mutualfund}
 {:symbol "FBMPX" :name "FIDELITY SELECT COM SVC PRT" :category :mutualfund}
 {:symbol "FSLEX" :name "FIDELITY SELECT ENV & ALT EN" :category :mutualfund}
 {:symbol "FSESX" :name "FIDELITY SEL ENERGY SERVICE" :category :mutualfund}
 {:symbol "FSCPX" :name "FIDELITY SEL CNSMR DISCRET" :category :mutualfund}
 {:symbol "FSELX" :name "FIDELITY SEL SEMICONDUCTORS" :category :mutualfund}
 {:symbol "FSRFX" :name "FIDELITY SEL TRANSPORTATION" :category :mutualfund}
 {:symbol "FSTCX" :name "FIDELITY SEL TELECOMMUNICATN" :category :mutualfund}
 {:symbol "FNARX" :name "FIDELITY SEL NATURAL RES PT" :category :mutualfund}
 {:symbol "FSMEX" :name "FIDELITY MED TECH & DEVIC" :category :mutualfund}
 {:symbol "FSDAX" :name "FIDELITY SEL DEFENSE & AEROS" :category :mutualfund}
 {:symbol "FSCSX" :name "FIDELITY SEL SOFTWARE & IT" :category :mutualfund}
 {:symbol "FSLBX" :name "FIDELITY SEL BROKER & INVEST" :category :mutualfund}
 {:symbol "FSLZX" :name "FIDELITY ADV STK SEL M/C-Z" :category :mutualfund}
 {:symbol "FMCDX" :name "FIDELITY ADV STK SEL M/C-A" :category :mutualfund}
 {:symbol "FMCEX" :name "FIDELITY ADV STK SEL M/C-C" :category :mutualfund}
 {:symbol "FMCCX" :name "FIDELITY ADV STK SEL M/C-I" :category :mutualfund}
 {:symbol "FMCAX" :name "FIDELITY ADV STK SEL M/C-M" :category :mutualfund}]







