[
;; agriculture
{:symbol "BO0" :kibot "BO" :name "CONTINUOUS SOYBEAN OIL CONTRACT" :category :future}
{:symbol "ZC0" #_"ZC instead of C" :kibot "C" :name "CONTINUOUS CORN CONTRACT" :category :future}
{:symbol "S0"  :kibot "S" :name "CONTINUOUS SOYBEANS CONTRACT" :category :future}
{:symbol "W0"  :kibot "BO":name "CONTINUOUS WHEAT CONTRACT" :category :future}
{:symbol "SM0" :kibot "SM" :name "CONTINUOUS SOYBEAN MEAL CONTRACT" :category :future}
{:symbol "RR0" :kibot "RR" :name "CONTINUOUS ROUGH RICE CONTRACT" :category :future}
{:symbol "O0"  :kibot "O" :name "CONTINUOUS OATS CONTRACT" :category :future}
{:symbol "LE0" :kibot "LE" :name "CONTINUOUS LIVE CATTLE CONTRACT" :category :future}
{:symbol "HE0" :kibot "HE" :name "CONTINUOUS LEAN HOGS CONTRACT" :category :future}
{:symbol "GF0" :kibot "GF" :name "CONTINUOUS FEEDER CATTLE CONTRACT" :category :future}
;; mini
{:symbol "YC0" :kibot "YC" :name "CONTINUOUS MINI CORN CONTRACT" :category :future}
{:symbol "YW0" :kibot "YW" :name "CONTINUOUS MINI WHEAT CONTRACT" :category :future}
{:symbol "YK0" :kibot "YK" :name "CONTINUOUS MINI SOYBEAN CONTRACT" :category :future}

;; energy
{:symbol "CL0" :kibot "CL" :name "CONTINUOUS CRUDE OIL CONTRACT" :category :future}
{:symbol "NG0" :kibot "NG" :name "CONTINUOUS NATURAL GAS CONTRACT" :category :future}
{:symbol "RB0" :kibot "RB" :name "CONTINUOUS RBOB GASOLINE CONTRACT" :category :future}
{:symbol "BZ0" :kibot "BZ" :name "CONTINUOUS BRENT CRUDE OIL LAST DAY CONTRACT" :category :future}
{:symbol "HO0" :kibot "HO" :name "CONTINUOUS NEW YORK HARBOR ULSD CONTRACT" :category :future}
{:symbol "AC0" :kibot "AC" :name "CONTINUOUS ETHANOL CONTRACT" :category :future}
;; mini
{:symbol "QM0" :kibot "QM" :name "CONTINUOUS E-MINI CRUDE OIL CONTRACT" :category :future}
{:symbol "QG0" :kibot "QG" :name "CONTINUOUS E-MINI NATURAL GAS CONTRACT" :category :future}

;; interest rates
{:symbol "FF0" :kibot "FF" :name "CONTINUOUS 30 DAY FED FUND CONTRACT" :category :future}
{:symbol "TU0" :kibot "TU" :name "CONTINUOUS 2 YR US TREASURY NOTE CONTRACT" :category :future}
{:symbol "FV0" :kibot "FV" :name "CONTINUOUS 5 YR US TREASURY NOTE CONTRACT" :category :future}
{:symbol "TY0" :kibot "TY" :name "CONTINUOUS 10 YR US TREASURY NOTE CONTRACT" :category :future}
{:symbol "US0" :kibot "US" :name "CONTINUOUS 30 YR US TREASURY BOND CONTRAC" :category :future}
{:symbol "UB0" :kibot "UB" :name "CONTINUOUS ULTRA US TREASURY BOND CONTRACT" :category :future}
{:symbol "TN0" :kibot "TN" :name "CONTINUOUS ULTRA 10 YR US TREASURY NOTE CONTRACT" :category :future}

;; metals
{:symbol "GC0" :kibot "GC" :name "CONTINUOUS GOLD CONTRACT" :category :future}
{:symbol "SI0" :kibot "SI" :name "CONTINUOUS SILVER CONTRACT" :category :future}
{:symbol "PL0" :kibot "PL" :name "CONTINUOUS PLATINUM CONTRACT" :category :future}
{:symbol "PA0" :kibot "PA" :name "CONTINUOUS PALLADIUM CONTRACT" :category :future}
{:symbol "HG0" :kibot "HG" :name "CONTINUOUS COPPER CONTRACT" :category :future}
;; mini 
{:symbol "QO0" :kibot "QO" :name  "CONTINUOUS E-MINI GOLD CONTRACT" :category :future}
{:symbol "MGC0" :kibot "MGC" :name "CONTINUOUS MICRO GOLD CONTRACT" :category :future}
{:symbol "QI0" :kibot "QI" :name  "CONTINUOUS E-MINI SILVER CONTRACT" :category :future}
{:symbol "SIL0" :kibot "SIL" :name "CONTINUOUS MICRO SILVER CONTRACT" :category :future}

;; currencies
{:symbol "EU0" :kibot "EU" :name  "CONTINUOUS EURO FX CONTRACT" :category :future}
{:symbol "RF0" :kibot "RF" :name  "CONTINUOUS EURO FX/SWISS FRANC CONTRACT" :category :future}
{:symbol "RP0" :kibot "RP" :name  "CONTINUOUS EURO FX/BRITISH POUND CONTRACT" :category :future}
{:symbol "ECD0" :kibot "ECD" :name "CONTINUOUS EURO FX/CANADIAN DOLLAR CONTRACT" :category :future}
{:symbol "EAD0" :kibot "EAD" :name "CONTINUOUS EURO FX/AUSTRALIAN $ CONTRACT" :category :future}
{:symbol "RY0" :kibot "RY" :name  "CONTINUOUS EURO FX/JAPANESE YEN CONTRACT" :category :future}

{:symbol "BP0" :kibot "BP" :name  "CONTINUOUS BRITISH POUND CONTRACT" :category :future}
{:symbol "PJY0" :kibot "PJY" :name "CONTINUOUS BRITISH PD/JAPANSE YEN CONTRACT" :category :future}

{:symbol "SF0" :kibot "SF" :name  "CONTINUOUS SWISS FRANC CONTRACT" :category :future}
{:symbol "SEK0" :kibot "SEK" :name "CONTINUOUS SWEDISH KRONA CONTRACT" :category :future}
{:symbol "NOK0" :kibot "NOK" :name "CONTINUOUS NORWEGIAN KRONE CONTRACT" :category :future}
{:symbol "CD0" :kibot "CD" :name  "CONTINUOUS CANADIAN DOLLAR CONTRACT" :category :future}
{:symbol "JY0" :kibot "JY" :name  "CONTINUOUS JAPANESE YEN CONTRACT" :category :future}
{:symbol "AJY0" :kibot "AJY" :name "CONTINUOUS AUSTRALIAN $/JAPANESE YEN CONTRACT" :category :future}
{:symbol "AD0" :kibot "AD" :name  "CONTINUOUS AUSTRALIAN DOLLAR CONTRACT" :category :future}
{:symbol "NE0" :kibot "NE" :name  "CONTINUOUS NEW ZEALAND DOLLAR CONTRACT" :category :future}
{:symbol "PX0" :kibot "PX" :name  "CONTINUOUS MEXICAN PESO CONTRACT" :category :future}
{:symbol "SIR0" :kibot "SIR" :name "CONTINUOUS INR/USD STANDARD CONTRACT" :category :future}
{:symbol "RU0" :kibot "RU" :name  "CONTINUOUS RUSSIAN RUBLE CONTRACT" :category :future}
{:symbol "RA0" :kibot "RA" :name  "CONTINUOUS SOUTH AFRICAN RAND CONTRACT" :category :future}
{:symbol "BR0" :kibot "BR" :name  "CONTINUOUS BRAZILIAN REAL CONTRACT" :category :future}
;; mini / micro
{:symbol "ME0" :kibot "ME" :name  "CONTINUOUS E-MINI EURO FX CONTRACT" :category :future}
{:symbol "JE0" :kibot "JE" :name  "CONTINUOUS E-MINI JAPANESE YEN CONTRACT" :category :future}
{:symbol "M6E0" :kibot "M6E" :name "CONTINUOUS E-MICRO EUR/USD CONTRACT" :category :future}
{:symbol "M6A0" :kibot "M6A" :name "CONTINUOUS E-MICRO AUD/USD CONTRACT" :category :future}
{:symbol "MCD0" :kibot "MCD" :name "CONTINUOUS E-MICRO CAD/USD CONTRACT" :category :future}
{:symbol "M6B0" :kibot "M6B" :name "CONTINUOUS E-MICRO GBP/USD CONTRACT" :category :future}
{:symbol "MSF0" :kibot "MSF" :name "CONTINUOUS E-MICRO CHF/USD CONTRACT" :category :future}

;; stock index
{:symbol "VX0" :kibot "VX" :name "CONTINUOUS CBOE VOLATILITY INDEX (VIX) CONTRACT" :category :future}
{:symbol "BTC0" :kibot "BTC" :name "CONTINUOUS BITCOIN FUTURES CONTRACT" :category :future}
{:symbol "NIY0" :kibot "NIY" :name "CONTINUOUS NIKKEI 225 YEN INDEX CONTRACT" :category :future}
{:symbol "NKD0" :kibot "NKD" :name "CONTINUOUS NIKKEI 225 DOLLAR INDEX CONTRACT" :category :future}

;; mini
{:symbol "MES0" #_"MES insted of ES" :kibot "ES" :name  "CONTINUOUS E-MINI S&P 500 CONTRACT" :category :future}
{:symbol "MYM0" #_"MYM instead of YM":kibot "YM" :name  "CONTINUOUS E-MINI DOW JONES $5 CONTRACT" :category :future}
{:symbol "MNQ0" #_"MNQ instead of NQ" :kibot "NQ" :name  "CONTINUOUS E-MINI NASDAQ 100 CONTRACT" :category :future}
{:symbol "M2K0" #_"M2K instead of RTY":kibot "RTY" :name "CONTINUOUS E-MINI RUSSELL 2000 CONTRACT" :category :future}
{:symbol "EMD0" :kibot "EMD" :name "CONTINUOUS E-MINI S&P MIDCAP 400 CONTRACT" :category :future}
{:symbol "XAE0" :kibot "XAE" :name "CONTINUOUS E-MINI S&P 500 ENERGY SECTOR CONTRACT" :category :future}
{:symbol "XAF0" :kibot "XAF" :name "CONTINUOUS E-MINI S&P 500 FINANCIAL SECTOR CONTRACT" :category :future}
{:symbol "XAU0" :kibot "XAU" :name "CONTINUOUS E-MINI S&P 500 UTILITIES SECTOR CONTRACT" :category :future}
{:symbol "XAV0" :kibot "XAV" :name "CONTINUOUS E-MINI S&P 500 HEALTH CARE SECTOR CONTRACT" :category :future}
{:symbol "XAK0" :kibot "XAK" :name "CONTINUOUS E-MINI S&P 500 TECHNOLOGY SECTOR CONTRACT" :category :future}
{:symbol "XAP0" :kibot "XAP" :name "CONTINUOUS E-MINI S&P 500 CONSUMER STAPLES CONTRACT" :category :future}
{:symbol "XAY0" :kibot "XAY" :name "CONTINUOUS E-MINI S&P 500 CONSUMER DISCRETIONARY CONTRACT" :category :future}
{:symbol "XAI0" :kibot "XAI" :name "CONTINUOUS E-MINI S&P 500 INDUSTRIAL SECTOR CONTRACT" :category :future}
{:symbol "XAB0" :kibot "XAB" :name "CONTINUOUS E-MINI S&P 500 MATERIALS SECTOR CONTRACT" :category :future}
;
]











