; used to test alphavantage import of symbols that dont return data
[{:symbol "RIVN" :name "RivianAutomotive" :category :equity}
 {:symbol "GOOGL" :name "Google" :category :equity}
 {:symbol "FCEL" :name "FuelCellEnergy" :category :equity}
 {:symbol "NKLA" :name "NikolaCorp" :category :equity}
 {:symbol "INTC" :name "Intel" :category :equity}
 {:symbol "FRC" :name "FirstRepublicBank" :category :equity}
 {:symbol "AMZN" :name "Amazon" :category :equity}
 {:symbol "WFC" :name "WellsFargo" :category :equity}
 {:symbol "PLTR" :name "Palantir" :category :equity}
 {:symbol "RIG" :name "Transocean" :category :equity}
 {:symbol "HDRO" :name "Defiance Next Gen H2 ETF" :category :etf}
 {:symbol "HDRO" :name "Defiance Next Gen H2 ETF" :category :etf}
 {:symbol "BZ0"  :category :future}
 {:symbol "NG0"  :category :future}
 {:symbol "RB0"  :category :future}
 {:symbol "ZC0"  :category :future}
 {:symbol "MES0"  :category :future}
 {:symbol "M2K0"  :category :future}
 {:symbol "MNQ0"  :category :future}
 {:symbol "MYM0"  :category :future}
 ; "DAX0"  --- not supported
 ]

 