[{:symbol "MSFT" :name "Microsoft" :category :equity}
 {:symbol "XOM" :name "Exxon Mobile" :category :equity}
 {:symbol "AMZN" :name "Amazon" :category :equity}
 {:symbol "GOOG" :name "Google" :category :equity}
 {:symbol "GOOGL" :name "Google" :category :equity}
 {:symbol "TSLA" :name "Tesla" :category :equity}
 {:symbol "SPY" :name "S&P 500" :category :etf} 
 {:symbol "DEMO" :name2 "intentionally missing name (name2)" :category :wild}
 ]